##测试MainServlet
<form method=post>
	
	<div class="container">
	  <h1>TravelHelper</h1>
	  $LastLoginTime
	  <div align="right"<td><span class=pt5 link555><strong><a title=hotel $LoginLink>$LoginInfo</a></strong></span></td></div>
	  <div align="right"<td><span class=pt5 link555><strong><a a title=hotel href="/signout">Log out</a></strong></span></td></div>
	  <div align="left"<td><span class=pt5 link555><strong><a title=hotel href="/main">Main Page</a></strong></span></td></div>
	</div>
	
	
	<div class="container">
	  <h3>Search Hotel</h3>
	    <div class="input-group">
	      <input type="text" name=input1 class="form-control" placeholder="Destination City">
	      <div class="input-group-btn">
	        <button class="btn btn-default" type="submit" name=Search1><i class="glyphicon glyphicon-search"></i></button>
	      </div>
	    </div>
	    <div class="input-group">
	      <input type="text" name=input2 class="form-control" placeholder="Destination State">
	      <div class="input-group-btn">
	        <button class="btn btn-default" type="submit" name=Search2><i class="glyphicon glyphicon-search"></i></button>
	      </div>
	    </div>
	    <div class="input-group">
	      <input type="text" name=input3 class="form-control" placeholder="Hotel Name">
	      <div class="input-group-btn">
	        <button class="btn btn-default" type="submit" name=Find><i class="glyphicon glyphicon-search"></i></button>
	      </div>
	    </div>
	</div>
	
	<div class="container">
	  <h2>Hotel Information</h2>
	  <table class="table table-hover">
	    <thead>
	      <tr>
	        <th>Picture</th>
	        <th>Name & Link to Expedia</th>
	        <th>Average rating</th>
	        <th>Street</th>
	        <th>City</th>
	        <th>State</th>
	        <th>Country</th>
	        <th>Modify</th>
	        
	      </tr>
	    </thead>
	    <tbody>
	    
	      #foreach($ordernum in $HotelMap.keySet())
	      <tr>
	          <td>
		         <div>
			         <a href="/review" target="_blank"></a><a href="/review?hotelId=$HotelMap.get($ordernum).id&page=1" target="_blank"><img method="bigImg" data-mark="img_50101091" 
					    src="http://pavo.elongstatic.com/i/Hotel180_135/0000coiL.jpg" data-src="http://pavo.elongstatic.com/i/Hotel480_350/0000coiL.jpg" alt="" width="150" height="100" /></a>
				</div>
			  </td>
	          <td><div>$HotelMap.get($ordernum).name</div><br><a title="hotel" href='https://www.expedia.com/${HotelMap.get($ordernum).name}.h${HotelMap.get($ordernum).id}.Hotel-Information'>Link to Expedia</a></td>
	          <td><div>$HotelMap.get($ordernum).rating</div></td>
	          <td><div>$HotelMap.get($ordernum).street</div></td>
	          <td><div>$HotelMap.get($ordernum).city</div></td>
	          <td><div>$HotelMap.get($ordernum).state</div></td>
	          <td><div>$HotelMap.get($ordernum).country</div></td>
	          <td><div><button type=submit name=SaveButton$ordernum class="btn btn-primary" value=$SaveButton.get($ordernum)>$SaveButton.get($ordernum)</button></div></td>
	          
	          ##<td><div><input type="submit" name="SaveButton$ordernum" id="submit" value=$SaveButton.get($ordernum)></div></td>
	   	  </tr>
	      #end
	    </tbody>
	  </table>
	</div>

	<div align="center" class="container">
			  <div class="btn-group">
			    <button type=submit name=button class="btn btn-primary" value=$PageButton1>$PageButton1</button>
			    <button type=submit name=button class="btn btn-primary" value=$PageButton2>$PageButton2</button>
			    <button type=submit name=button class="btn btn-primary" value=$PageButton3>$PageButton3</button>
			    <button type=submit name=button class="btn btn-primary" value=$PageButton4>$PageButton4</button>
			    <button type=submit name=button class="btn btn-primary" value=$PageButton5>$PageButton5</button>
			    <button type=submit name=lastpage class="btn btn-primary" value=LastPage>LastPage</button>
			    <button type=submit name=nextpage class="btn btn-primary" value=NextPage>NextPage</button>
			  </div>
	</div>
	
						
</form>%n