##测试ReviewServlet
<form method="post">
		
	<div class="container">
	  <h1>TravelHelper</h1>
	  <div align="right"<td><span class=pt5 link555><strong><a title=hotel $LoginLink>$LoginInfo</a></strong></span></td></div>
	  <div align="right"<td><span class=pt5 link555><strong><a a title=hotel href="/signout">Log out</a></strong></span></td></div>
	  <div align="left"<td><span class=pt5 link555><strong><a title=hotel href="/main">Main Page</a></strong></span></td></div>
	</div>
		
		
	<div class="container">
	  <button type="button" name="AddReview" class="btn btn-primary" value="AddReview" onClick=$AddReviewLink>AddReview</button>
	  <button type="button" name="CheckAttraction" class="btn btn-primary active" value="CheckAttraction" onClick=$CheckAttraction>CheckAttraction</button>
	  <button type="submit" name="SortByDate" class="btn btn-primary active">SortByDate</button>
	  <button type="submit" name="SortByRating" class="btn btn-primary active">SortByRating</button>
	  <button type="submit" name="SortByDefault" class="btn btn-primary active">SortByDefault</button>
	</div>
		
		
	<div class="container">
	  <h2>Hotel Information</h2>
	  <table class="table table-hover">
	    <thead>
	      <tr>
	        <th>HotelId</th>
	        <th>Username</th>
	        <th>Rating</th>
	        <th>IsRecomand</th>
	        <th>ReviewTitle</th>
	        <th>ReviewText</th>
	        <th>ReviewDate</th>
	        <th>Like</th>
	      </tr>
	    </thead>
	    <tbody>
	    
	      #foreach($ordernum in $ReviewMap.keySet())
	      <tr>
	          <td><div>$ReviewMap.get($ordernum).hotelid</div></td>
	          <td><div>$ReviewMap.get($ordernum).username</div></td>
	          <td><div>$ReviewMap.get($ordernum).rating</div></td>
	          <td><div>$ReviewMap.get($ordernum).ifRecomand</div></td>
	          <td width="164"><div>$ReviewMap.get($ordernum).reviewtitle</div></td>
	          <td><div>$ReviewMap.get($ordernum).reviewtext</div></td>
	          <td><div>$ReviewMap.get($ordernum).date</div></td>
	          
	          <td><div><button type=submit name=LikeButton$ordernum class="btn btn-primary" value=$LikeButton.get($ordernum)>$LikeButton.get($ordernum)<br>$LikeNum.get($ordernum) people like this review</button></div></td>
	          
	   	  </tr>
	      #end
	    </tbody>
	  </table>
	</div>
		
	<div align="center" class="container">
			  <div class="btn-group">
			    <button type=submit name=button class="btn btn-primary" value=$PageButton1>$PageButton1</button>
			    <button type=submit name=button class="btn btn-primary" value=$PageButton2>$PageButton2</button>
			    <button type=submit name=button class="btn btn-primary" value=$PageButton3>$PageButton3</button>
			    <button type=submit name=button class="btn btn-primary" value=$PageButton4>$PageButton4</button>
			    <button type=submit name=button class="btn btn-primary" value=$PageButton5>$PageButton5</button>
			    <button type=submit name=lastpage class="btn btn-primary" value=LastPage>LastPage</button>
			    <button type=submit name=nextpage class="btn btn-primary" value=NextPage>NextPage</button>
			  </div>
	</div>
		
</form>%n
